<head>
    <!-- base of -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Tag Manager -->
    {{ with .Site.Params.tagmanager}}

    <script>
        // Define dataLayer and the gtag function.
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }

        // Set default consent to 'denied' as a placeholder
        // Determine actual values based on your own requirements
        const consentData = localStorage.getItem('consentMode');
        if (consentData === null) {
            gtag('consent', 'default', {
                'ad_storage': 'denied',
                'ad_user_data': 'denied',
                'ad_personalization': 'denied',
                'analytics_storage': 'denied'
            });
        } else {
            gtag('consent', 'default', JSON.parse(consentData));
        }
    </script>

    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', "{{ . }}");
    </script>
    {{ end }}
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:type" content="website">
    <meta name="twitter:site" content="{{- .Site.Title -}}">

    {{ $title := print (trim .Site.Title " ") " - " (trim .Title " ") }}
    {{ if le 60 (len $title) }}
    {{ warnf "Title is too long, should be less than 60. Actual is %d : %s" (len $title) $title }}
    {{ end }}
    <title>{{- $title -}}</title>
    <meta name="twitter:title" content="{{- $title -}}">
    <meta property="og:title" content="{{- $title -}}">



    {{ with .Description }}
    {{ if le 160 (len .) }}
    {{ warnf "Description is too long, should be less than 160. Actual is %d : %s" (len $title) $title }}
    {{ end }}
    <meta name="description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    {{ end }}

    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">
    {{ end }}

    {{ if .Site.Params.favicon }}
    {{ $image := print (trim .Site.BaseURL "/") "/img/favicon-128x128.png" }}
    <meta name="twitter:image" content="{{- $image -}}">
    <meta property="og:image" content="{{- $image -}}">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    {{ end }}

    <meta name="referrer" content="origin">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{{ .Site.Params.GoogleFont | default "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"}}" rel="stylesheet">

    {{ $options := (dict "targetPath" "css/theme-style.css" "outputStyle" "compressed" "enableSourceMap" (not
    hugo.IsProduction) "includePaths" (slice "assets/scss")) }}
    {{ $style := resources.Get "scss/theme-style.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{- $style.RelPermalink -}}">

    <link rel="stylesheet" href="/css/style.css">

    {{ with .Site.Params.pipedrive }}
        {{ partial "pipedrive" . }}
    {{ end }}
</head>