{{ $email := split .Site.Params.email "@" }}
{{ $phone := split .Site.Params.phone "." }}
<div class="contact row">
    <div class="process col-6" separator=".">
        {{- range $phone -}}
            <div class="hidden">{{ . }}</div>
        {{- end -}}
        <a href="tel:" aria-label="phone"></a>
    </div>
    <div class="process col-6" separator="@">
        <div class="hidden">{{ index $email 0 }}</div>
        <div class="hidden">{{ index $email 1 }}</div>
        <a href="mailto:" aria-label="email"></a>
    </div>
</div>