{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $class := .Get "class" }}
{{ $viewbox := (.Get "viewbox" | default "0 0 64 64") }}
{{ $decorative := (.Get "decorative" | default false) }}

{{ if and (eq "" $alt) (eq false $decorative) }}
{{ errorf "Missing alt value for accessibility : %s" $src }}
{{ end }}

{{ if $decorative }}
<svg viewbox="{{ $viewbox }}" aria-label="" alt="" role="presentation">
    <use href="{{- $src -}}" class="{{- $class -}}"></use>
</svg>
{{ else }}
<svg viewbox="{{ $viewbox }}" aria-label="{{- $alt -}}" alt="{{- $alt -}}">
    <use href="{{- $src -}}" class="{{- $class -}}"></use>
</svg>
{{ end }}